In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


data = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4967 entries, 0 to 4966
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   4967 non-null   object
 1   Time                   3457 non-null   object
 2   Location               4963 non-null   object
 3   Operator               4957 non-null   object
 4   Flight #               1315 non-null   object
 5   Route                  4192 non-null   object
 6   AC Type                4952 non-null   object
 7   Registration           4694 non-null   object
 8   cn/ln                  4299 non-null   object
 9   Aboard                 4949 non-null   float64
 10  Aboard Passangers      4738 non-null   float64
 11  Aboard Crew            4741 non-null   float64
 12  Fatalities             4959 non-null   float64
 13  Fatalities Passangers  4725 non-null   float64
 14  Fatalities Crew        4726 non-null   float64
 15  Ground                 4926 non-null   float64
 16  Summary                4903 non-null   object
dtypes: float64(7), object(10)
memory usage: 659.8+ KB

## Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [17]:
from sklearn.model_selection import train_test_split

X = data.drop(columns=['Aboard'])
y = data['Aboard']
# Pisahkan dataset menjadi training set (70%) dan testing set (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

data.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...

# Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [18]:
copydata = data.copy()

In [19]:
from sklearn.preprocessing import MinMaxScaler

kolom_normalisasi = ['Aboard']


scaler = MinMaxScaler()

copydata[kolom_normalisasi] = scaler.fit_transform(copydata[kolom_normalisasi])
copydata

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,0.003106,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,0.001553,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,0.007764,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,0.001553,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,0.031056,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,04/16/2019,11:00,"Puerto Montt, Chile",Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,0.009317,5.0,1.0,6.0,5.0,1.0,0.0,"While the aircraft was in the initial climb, p..."
4963,05/05/2019,18:30,"Near Monclava, Mexico",TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,0.020186,11.0,2.0,13.0,11.0,2.0,0.0,The aircraft crashed while en route on a retur...
4964,05/05/2019,18:30,"Moscow, Russia",Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,0.121118,73.0,5.0,41.0,40.0,1.0,0.0,Forty-five minutes after taking off from Mosco...
4965,06/03/2019,13:00,"Near Lipo, India",Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,0.020186,5.0,8.0,13.0,5.0,8.0,0.0,Crashed about 34km WNW of Mechuka.
4966,07/30/2019,02:00,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,0.007764,0.0,5.0,5.0,0.0,5.0,14.0,"The Pakistani military plane, on a training fl..."

# Lakukan standarisasi pada dataset

In [20]:
from sklearn.preprocessing import StandardScaler
copydata['Aboard'] = pd.to_numeric(data['Aboard'], errors='coerce', downcast='integer')
kolom_standarisasi = [ 'Aboard', 'Aboard Passangers', 'Aboard Crew', 'Fatalities']
scaler = StandardScaler()
copydata[kolom_standarisasi] = scaler.fit_transform(copydata[kolom_standarisasi])
copydata

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,-0.640236,-0.588527,-0.997418,-0.609268,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,-0.662246,-0.611251,-0.997418,-0.609268,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,-0.574206,-0.611251,0.149156,-0.495056,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,-0.662246,-0.611251,-0.997418,-0.609268,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,-0.244055,NaN,NaN,-0.238079,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,04/16/2019,11:00,"Puerto Montt, Chile",Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,-0.552196,-0.497630,-0.997418,-0.466503,5.0,1.0,0.0,"While the aircraft was in the initial climb, p..."
4963,05/05/2019,18:30,"Near Monclava, Mexico",TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,-0.398125,-0.361285,-0.710775,-0.266632,11.0,2.0,0.0,The aircraft crashed while en route on a retur...
4964,05/05/2019,18:30,"Moscow, Russia",Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,1.032531,1.047615,0.149156,0.532850,40.0,1.0,0.0,Forty-five minutes after taking off from Mosco...
4965,06/03/2019,13:00,"Near Lipo, India",Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,-0.398125,-0.497630,1.009087,-0.266632,5.0,8.0,0.0,Crashed about 34km WNW of Mechuka.
4966,07/30/2019,02:00,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,-0.574206,-0.611251,0.149156,-0.495056,0.0,5.0,14.0,"The Pakistani military plane, on a training fl..."

# Lakukan Data cleaning pada data dengan nilai null

In [21]:
# Misalnya, kita mengganti nilai null dengan median, mean, atau modus sesuai dengan jenis atributnya
copydata.fillna({'numeric_column': copydata['Aboard'].median(),
                     'float_column': copydata['Fatalities'].mean(),
                     'categorical_column': copydata['Ground'].mode()[0]}, inplace=True)

In [22]:
copydata.isna().sum()

Date                        0
Time                     1510
Location                    4
Operator                   10
Flight #                 3652
Route                     775
AC Type                    15
Registration              273
cn/ln                     668
Aboard                     18
Aboard Passangers         229
Aboard Crew               226
Fatalities                  8
Fatalities Passangers     242
Fatalities Crew           241
Ground                     41
Summary                    64
dtype: int64

# Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [23]:
duplicatedata = data[data.duplicated(keep=False)]

duplicatedata

Empty DataFrame
Columns: [Date, Time, Location, Operator, Flight #, Route, AC Type, Registration, cn/ln, Aboard, Aboard Passangers, Aboard Crew, Fatalities, Fatalities Passangers, Fatalities Crew, Ground, Summary]
Index: []

In [24]:
banyak_duplikat = 5
duplicate = pd.concat([copydata] * banyak_duplikat, ignore_index=True)

In [25]:
data_duplikat = duplicate[duplicate.duplicated(keep=False)]
data_duplikat

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,-0.640236,-0.588527,-0.997418,-0.609268,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,-0.662246,-0.611251,-0.997418,-0.609268,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,-0.574206,-0.611251,0.149156,-0.495056,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,-0.662246,-0.611251,-0.997418,-0.609268,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,-0.244055,NaN,NaN,-0.238079,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24830,04/16/2019,11:00,"Puerto Montt, Chile",Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,-0.552196,-0.497630,-0.997418,-0.466503,5.0,1.0,0.0,"While the aircraft was in the initial climb, p..."
24831,05/05/2019,18:30,"Near Monclava, Mexico",TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,-0.398125,-0.361285,-0.710775,-0.266632,11.0,2.0,0.0,The aircraft crashed while en route on a retur...
24832,05/05/2019,18:30,"Moscow, Russia",Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,1.032531,1.047615,0.149156,0.532850,40.0,1.0,0.0,Forty-five minutes after taking off from Mosco...
24833,06/03/2019,13:00,"Near Lipo, India",Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,-0.398125,-0.497630,1.009087,-0.266632,5.0,8.0,0.0,Crashed about 34km WNW of Mechuka.
24834,07/30/2019,02:00,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,-0.574206,-0.611251,0.149156,-0.495056,0.0,5.0,14.0,"The Pakistani military plane, on a training fl..."

In [26]:
cleandata = data_duplikat.drop_duplicates()
cleandata

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,-0.640236,-0.588527,-0.997418,-0.609268,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,-0.662246,-0.611251,-0.997418,-0.609268,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,-0.574206,-0.611251,0.149156,-0.495056,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,-0.662246,-0.611251,-0.997418,-0.609268,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,-0.244055,NaN,NaN,-0.238079,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,04/16/2019,11:00,"Puerto Montt, Chile",Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,-0.552196,-0.497630,-0.997418,-0.466503,5.0,1.0,0.0,"While the aircraft was in the initial climb, p..."
4963,05/05/2019,18:30,"Near Monclava, Mexico",TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,-0.398125,-0.361285,-0.710775,-0.266632,11.0,2.0,0.0,The aircraft crashed while en route on a retur...
4964,05/05/2019,18:30,"Moscow, Russia",Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,1.032531,1.047615,0.149156,0.532850,40.0,1.0,0.0,Forty-five minutes after taking off from Mosco...
4965,06/03/2019,13:00,"Near Lipo, India",Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,-0.398125,-0.497630,1.009087,-0.266632,5.0,8.0,0.0,Crashed about 34km WNW of Mechuka.
4966,07/30/2019,02:00,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,-0.574206,-0.611251,0.149156,-0.495056,0.0,5.0,14.0,"The Pakistani military plane, on a training fl..."

# Ganti tipe data salah satu attribute angka

In [27]:
copydata['Aboard'] = copydata['Aboard'].astype('float')

In [28]:
copydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4967 entries, 0 to 4966
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   4967 non-null   object
 1   Time                   3457 non-null   object
 2   Location               4963 non-null   object
 3   Operator               4957 non-null   object
 4   Flight #               1315 non-null   object
 5   Route                  4192 non-null   object
 6   AC Type                4952 non-null   object
 7   Registration           4694 non-null   object
 8   cn/ln                  4299 non-null   object
 9   Aboard                 4949 non-null   float64
 10  Aboard Passangers      4738 non-null   float64
 11  Aboard Crew            4741 non-null   float64
 12  Fatalities             4959 non-null   float64
 13  Fatalities Passangers  4725 non-null   float64
 14  Fatalities Crew        4726 non-null   float64
 15  Ground                 4926 non-null   float64
 16  Summary                4903 non-null   object
dtypes: float64(7), object(10)
memory usage: 659.8+ KB

# Lakukan one hot encoding pada dataset yang kalian miliki

### Dengan Pandas

In [33]:
# Menggunakan pandas untuk one-hot encoding
aboard_encoded = pd.get_dummies(copydata, columns=['Aboard'])
(aboard_encoded)

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard Passangers,...,Aboard_6.799176748419001,Aboard_6.9312373358896995,Aboard_6.997267629625049,Aboard_7.15133831500753,Aboard_7.7676210565374575,Aboard_7.965711937743505,Aboard_7.987722035655288,Aboard_10.694964078804608,Aboard_10.84903476418709,Aboard_13.490246513601061
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,-0.588527,...,False,False,False,False,False,False,False,False,False,False
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,-0.611251,...,False,False,False,False,False,False,False,False,False,False
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,-0.611251,...,False,False,False,False,False,False,False,False,False,False
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,-0.611251,...,False,False,False,False,False,False,False,False,False,False
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,04/16/2019,11:00,"Puerto Montt, Chile",Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,-0.497630,...,False,False,False,False,False,False,False,False,False,False
4963,05/05/2019,18:30,"Near Monclava, Mexico",TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,-0.361285,...,False,False,False,False,False,False,False,False,False,False
4964,05/05/2019,18:30,"Moscow, Russia",Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,1.047615,...,False,False,False,False,False,False,False,False,False,False
4965,06/03/2019,13:00,"Near Lipo, India",Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,-0.497630,...,False,False,False,False,False,False,False,False,False,False
4966,07/30/2019,02:00,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,-0.611251,...,False,False,False,False,False,False,False,False,False,False